.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.img-banner{
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.bg{
  background-image: url(/RLB.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 80vh;
  background-attachment: fixed;
  background-position: center;
}

.Slide1{
  padding-top: 3.5rem;
  object-fit: cover;
  
  
}
.block2{
  height: 100vh;
  object-position: center;
  padding: 11.5rem;
}
.aboutbg{
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  width:  150vh;
  height: 50vh;
  object-position: center;
  
}
.navbar-brand{
  padding-left: 1rem;
  padding-top: 1rem;
}
.bg-white{
  position: fixed;
}
.logobg{
  padding: 50px;
  background-color:transparent;
  height: auto;
}
