@font-face{
  font-family: bangna;
  src: url(bangna-new.ttf);
}
.App {
  text-align: left;
  background-image: url(/bg2.png);
  
}
div {
  font-family: bangna;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.img-banner{
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.bg{
  
  
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100vh;
  background-attachment: fixed;
  background-position: center;
}

.Slide1{
  padding-top: 3.5rem;
  object-fit: cover; 
  
  
}
.collapse{
  object-fit: cover;
}

.button{
  background: transparent;
  position: center;
}
.Slidecol{
  object-fit: cover;
  height: 150vh;
}
.block2{
  height: 100vh;
  object-position: center;
  padding: 11.5rem;
  
}
.aboutbg{
  display: table-cell;
  vertical-align: middle;
  background-color:rgba(255, 255, 255, 0.8);
  width:  150vh;
  height: 50vh;
  object-position: center;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  text-align: left;

}
.p-4{
  text-indent: 4rem;
  line-height: 160%;
}




.bg-white{
  position: fixed;
}
.logobg{
  padding: 50px;
  background-color:transparent;
  height: auto;
}
.nav-brand{
  margin-right: 2rem;
  
}
.button.style{
  margin-left: 60px;
  margin-bottom: 70px;
}
.img-banner2{
  object-fit: cover;
  object-position: center;
  height: 100vh;
}
.h2{
  color: black;
  padding-top: 30px;
}
.card-deck {
  color: black;
}
.show{
  color: white;
  -webkit-animation-delay: 1s;
}
.show1{
  -webkit-animation-delay: 1.2s;
}
.show2{
  -webkit-animation-delay: 1.4s;
}
.show3{
  -webkit-animation-delay: 1.6s;
}
.show4{
  -webkit-animation-delay: 1.8s;
}
.show5{
  -webkit-animation-delay: 2s;
}
.logonav{
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  -webkit-animation-delay: 0.7s;
}
.line{
  -webkit-animation-delay: 0.2s;
}
.fb{
  -webkit-animation-delay: 0.4s;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
color: white;
}
.bla{
  color: black;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
  background-color: transparent;
  border-color: transparent;
  text-shadow: transparent;
  box-shadow: transparent;
  padding-left: 12px;
  margin-bottom: 30px;
  width: 68px;
  height: 56px;
  margin-left: 60px;
}
.row {
  margin-top: 25px;
  margin-bottom: 20px
}
.container{
  object-fit: cover;
}
